.main{
    width: calc(100vw - 420px);
    position: relative;
    .button {
            padding: 10px 20px;
            background: darkgreen;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
            position: absolute;
         right: 0px;
            top: -50px;
            
            svg {
                top: 10px;
            }
        }
    .flex{
        display: grid;
        grid-template-columns: 70% 25%;
        gap: 5%;
        position: absolute;
    }
}