.product-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 300px;
    margin: 20px auto;

    img {
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0 0;
        margin-bottom: 20px;
    }

    h3 {
        margin-bottom: 10px;
    }

    .description {
        text-align: center;
        margin-bottom: 20px;
    }

    .price {
        font-weight: bold;
        color: #333;
    }
}

.prouctcontainer {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    margin: 100px auto;
    // margin-left: -20px;
    button{
        cursor: pointer;
        background: darkgreen;
        border: 0;
        outline: 0;
        padding: 10px;
        color: #fff;
        border-radius: 5px;
    }
}